@{
    Layout = "~/Views/Shared/Shared_nav_linked_files.cshtml";
}


    <!-- the result container viwer -->
<div class="container show-search grid my-5 p-3">
    <!-- the account card view  -->
    <div class="card m-2  search-result">
        <img src="~/images/fb-profilr-placeholder.jpeg" />
        <h3 class="account-name">Abdelrahman Mostafa</h3>
        <button id="add-friend" class="btn btn-success">Add Friend</button>
    </div>


</div>
