@{
    Layout = "~/Views/Shared/Shared_nav_linked_files.cshtml";
}


<!-- ----------------------profile info section---------------- -->
<div class="card">
    <div class="container">
        <div class="profile-info">
            <div class="container  flex ">
                <div class="flex">
                    <!-- profile img -->
                    <img class="rounded-circle" src="~/images/demo-profile-img.jpg" />
                    
                    <!-- user info -->
                    <div class="user-info">
                        <h2 id="account-name" class="user-name">Abdelrahman Mostafa</h2>
                        <p id="friends"><span id="friends-count">500</span> Friend</p>
                    </div>
                </div>
                <!-- edit profilr btn -->
                <div class="remove-friend">
                    <button id="add-friend" class="btn btn-success">Accept</button>
                    <button id="remove-friend" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container grid text-center none-friend-text" style="height: 50vh; align-items: center;">
    <h2 id="none-friend-text" class="display-2">You can't see this person posts unless it's your friend</h2>
</div>
